<a class="navbar-brand me-1 me-sm-3" href="index.html">
    <div class="d-flex align-items-center">
        <div class="d-flex align-items-center">
            <img src="~/images/2DBC.png" alt="phoenix" width="30" />
            <p class="logo-text ms-2 d-none d-sm-block">2DBC</p>
        </div>
    </div>
</a>