<?xml version="1.0" encoding="utf-8"?>
<CONFIGSETTINGS FINPROSETTINGS="">
  <TYPESERVEUR>U1FM</TYPESERVEUR>
  <NOMSERVEUR>TkdPUg==</NOMSERVEUR>
  <NOMBASE>TUlORUQ=</NOMBASE>
  <NOMUTILISATEUR>bmdvcg==</NOMUTILISATEUR>
  <MOTDEPASSE>cGFzc2Vy</MOTDEPASSE>
  <BASEDIR>Qzpc</BASEDIR>
  <ETATSDIR>QzpcRVRBVFw=</ETATSDIR>
  <LOGSDIR>QzpcRXhwb3J0ZWRGaWxlc1w=</LOGSDIR>
  <XMLPATH>
  </XMLPATH>
  <RTFPATH>QzpcRklOUEFJRUxPR09c</RTFPATH>
  <UTILSFILES>QzpcRXhwb3J0RklOUEFJRVw=</UTILSFILES>
  <HELPFILES>
  </HELPFILES>
  <NEWPROJECTSCRIPTS>
  </NEWPROJECTSCRIPTS>
  <LANGUE>ZnItRlI=</LANGUE>
  <NPU>
  </NPU>
  <KEYLOCATION>TE9DQUw=</KEYLOCATION>
  <RESEAU>VHJ1ZQ==</RESEAU>
  <MULTISITES>VHJ1ZQ==</MULTISITES>
  <MULTIPROJETS>RmFsc2U=</MULTIPROJETS>
  <MODULES>
    <UTILITAIRES>VHJ1ZQ==</UTILITAIRES>
    <MARCHE>VHJ1ZQ==</MARCHE>
    <SUIVICONV>VHJ1ZQ==</SUIVICONV>
    <IMMO>VHJ1ZQ==</IMMO>
    <ETATSFIN>VHJ1ZQ==</ETATSFIN>
    <SUIVIBUD>VHJ1ZQ==</SUIVIBUD>
    <COMPTAANA>VHJ1ZQ==</COMPTAANA>
    <COMPTAGEN>VHJ1ZQ==</COMPTAGEN>
    <PARAMETRES>VHJ1ZQ==</PARAMETRES>
    <ELABORATIONBUDGET>RmFsc2U=</ELABORATIONBUDGET>
    <CALCULCOUTS>RmFsc2U=</CALCULCOUTS>
    <GESTIONAPPRO>RmFsc2U=</GESTIONAPPRO>
    <STOCKS>RmFsc2U=</STOCKS>
    <PASSMARCHE>RmFsc2U=</PASSMARCHE>
    <DECAISSEMENT>VHJ1ZQ==</DECAISSEMENT>
    <GESTIONCMOD>RmFsc2U=</GESTIONCMOD>
    <GESTIONCDEAO>RmFsc2U=</GESTIONCDEAO>
    <TIMESHEET>RmFsc2U=</TIMESHEET>
    <PAIE>RmFsc2U=</PAIE>
    <GROUPEMOBILE>RmFsc2U=</GROUPEMOBILE>
  </MODULES>
  <NBRMULTIPROJETS>
  </NBRMULTIPROJETS>
  <DATEDEBUT>MDEvMDEvMTk5MA==</DATEDEBUT>
  <DATEFIN>MjgvMDIvMjAxOQ==</DATEFIN>
  <EXPIRER>
  </EXPIRER>
  <FENETREDEMO>VHJ1ZQ==</FENETREDEMO>
  <SOLDERSF>RmFsc2U=</SOLDERSF>
  <DATEDEBRSF>
  </DATEDEBRSF>
  <PORT>
  </PORT>
  <NBRETABLISSEMENT>MA==</NBRETABLISSEMENT>
</CONFIGSETTINGS>