<nav class="navbar navbar-top fixed-top navbar-expand-lg" id="dualNav" style="display:none;">
    <div class="w-100">
        <div class="d-flex flex-between-center dual-nav-first-layer">
            @Html.Partial("logo")
            @Html.Partial("Entete")
        </div>
        <div class="collapse navbar-collapse navbar-top-collapse justify-content-center" id="navbarTopCollapse">
            @Html.Partial("navbar/list_navbar")
        </div>
    </div>
</nav>
