<nav class="navbar navbar-top fixed-top navbar-expand-lg" id="dualNav" style="display:none;">
    <div class="w-100">
        <div class="d-flex flex-between-center dual-nav-first-layer">
            <div class="navbar-logo">
                <button class="btn navbar-toggler navbar-toggler-humburger-icon hover-bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTopCollapse" aria-controls="navbarTopCollapse" aria-expanded="false" aria-label="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>

                @Html.Partial("logo")
            </div>
            @Html.Partial("Entete")
        </div>
        <div class="collapse navbar-collapse navbar-top-collapse justify-content-center" id="navbarTopCollapse">
            @Html.Partial("navbar/list_navbar")
        </div>
    </div>
</nav>
