<ul class="navbar-nav navbar-nav-top" data-dropdown-on-hover="data-dropdown-on-hover">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle lh-1" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false"><span class="uil fs-8 me-2 uil-chart-pie"></span>Paramétres</a>
        <ul class="dropdown-menu navbar-dropdown-caret">
            <li>
                <a class="dropdown-item Parametre" name="Pays" href="#">
                    <div class="dropdown-item-wrapper">Pays</div>
                </a>
            </li>
            <li>
                <a class="dropdown-item Parametre" href="#" name="EnteteProjet">
                    <div class="dropdown-item-wrapper">Entête du projet</div>
                </a>
            </li>
            <li>
                <a class="dropdown-item Parametre" href="#" name="Saisie_Sites">
                    <div class="dropdown-item-wrapper">Saisie des Sites</div>
                </a>
            </li>
            <li>
                <a class="dropdown-item Parametre" href="#" name="Exercices">
                    <div class="dropdown-item-wrapper">Exercices</div>
                </a>
            </li>
            <li>
                <a class="dropdown-item Parametre" href="#" name="Familles">
                    <div class="dropdown-item-wrapper">Familles</div>
                </a>
            </li>
            <li>
                <a class="dropdown-item Parametre" href="#" name="Consommateurs">
                    <div class="dropdown-item-wrapper">Consommateurs</div>
                </a>
            </li>
            <li>
                <a class="dropdown-item Parametre" href="#" name="signataire">
                    <div class="dropdown-item-wrapper">Signataires</div>
                </a>
            </li>
            <li>
                <a class="dropdown-item Parametre" href="#" name="Monnaie">
                    <div class="dropdown-item-wrapper">Monnaie</div>
                </a>
            </li>
            <li>
                <a class="dropdown-item Parametre" href="#" name="Structures">
                    <div class="dropdown-item-wrapper">Structures</div>
                </a>
            </li>
            <li>
                <a class="dropdown-item Parametre" href="#" name="magasins">
                    <div class="dropdown-item-wrapper">Magasins</div>
                </a>
            </li>
            <li>
                <a class="dropdown-item Parametre" href="#" name="groupes">
                    <div class="dropdown-item-wrapper">Groupes</div>
                </a>
            </li>
            <li>
                <a class="dropdown-item Parametre" href="#" name="services">
                    <div class="dropdown-item-wrapper">Services</div>
                </a>
            </li>
            <li>
                <a class="dropdown-item Parametre" href="#" name="unite">
                    <div class="dropdown-item-wrapper">Unité</div>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle lh-1" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false"><span class="uil fs-8 me-2 uil-cube"></span>Saisie</a>
        <ul class="dropdown-menu navbar-dropdown-caret">            
            <li>
                <a class="dropdown-item Saisie" href="#" name="Articles">
                    <div class="dropdown-item-wrapper">Articles</div>
                </a>
            </li>   
            <li>
                <a class="dropdown-item Saisie" href="#" name="EntreeStock">
                    <div class="dropdown-item-wrapper">Entrée de stock</div>
                </a>
            </li>
            <li>
                <a class="dropdown-item Saisie" href="#" name="Mouvements">
                    <div class="dropdown-item-wrapper">Mouvements</div>
                </a>
            </li>
            <li>
                <a class="dropdown-item Saisie" href="#" name="Affectations">
                    <div class="dropdown-item-wrapper">Affectations</div>
                </a>
            </li>
            <li>
                <a class="dropdown-item Saisie" href="#" name="SortieStock">
                    <div class="dropdown-item-wrapper">Sortie de Stock</div>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle lh-1" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false"><span class="uil fs-8 me-2 uil-files-landscapes-alt"></span>Exploitations</a>
        <ul class="dropdown-menu navbar-dropdown-caret">
            <li>
                <a class="dropdown-item Exploitations" href="#" name="JournalStock">
                    <div class="dropdown-item-wrapper">Journal de stocks</div>
                </a>
            </li>
            <li>
                <a class="dropdown-item Exploitations" href="#" name="GrandLivre">
                    <div class="dropdown-item-wrapper">Grand Livre</div>
                </a>
            </li>
            <li>
                <a class="dropdown-item Exploitations" href="#" name="PropositionCommandes">
                    <div class="dropdown-item-wrapper">Proposition de commandes</div>
                </a>
            </li>
            <li>
                <a class="dropdown-item Exploitations" href="#" name="EtatStock">
                    <div class="dropdown-item-wrapper">Etats des stocks</div>
                </a>
            </li>
            <li>
                <a class="dropdown-item Exploitations" href="#" name="RuptureStock">
                    <div class="dropdown-item-wrapper">Rupture de stocks</div>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle lh-1" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false"><span class="uil fs-8 me-2 uil-document-layout-right"></span>Consommations</a>
        <ul class="dropdown-menu navbar-dropdown-caret">
            <li>
                <a class="dropdown-item Consommations" name="Consommateur" href="#">
                    <div class="dropdown-item-wrapper">Consommations par consommateur</div>
                </a>
            </li>
            <li>
                <a class="dropdown-item Consommations" href="#" name="EtatCompta">
                    <div class="dropdown-item-wrapper">Etat pour la comptabilité</div>
                </a>
            </li>
            <li>
                <a class="dropdown-item Consommations" href="#" name="ConsomService">
                    <div class="dropdown-item-wrapper">Consommations par service</div>
                </a>
            </li>
        </ul>
    </li>
</ul>