<ul class="navbar-nav navbar-nav-top" data-dropdown-on-hover="data-dropdown-on-hover">
    
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle lh-1" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false"><span class="uil fs-8 me-2 uil-chart-pie"></span>Codifications</a>
        <ul class="dropdown-menu navbar-dropdown-caret">
            <li>
                <a class="dropdown-item Codifications" name="Structures" href="#">
                    <div class="dropdown-item-wrapper">Structures</div>
                </a>
            </li>
            <li>
                <a class="dropdown-item Codifications" name="PlanCompte" href="#">
                    <div class="dropdown-item-wrapper">Plans de comptes</div>
                </a>
            </li>
            <li>
                <a class="dropdown-item Codifications" name="ParametreGeneraux" href="#">
                    <div class="dropdown-item-wrapper">Paramètres généraux</div>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle lh-1" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false"><span class="uil fs-8 me-2 uil-cube"></span>Comptabilité générale</a>
        <ul class="dropdown-menu navbar-dropdown-caret">
            <li>
                <a class="dropdown-item ComptabiliteGenerale" href="#" name="Parametres">
                    <div class="dropdown-item-wrapper">Paramètres</div>
                </a>
            </li>
            <li>
                <a class="dropdown-item ComptabiliteGenerale" href="#" name="Saisie">
                    <div class="dropdown-item-wrapper">Saisie</div>
                </a>
            </li>
            <li>
                <a class="dropdown-item ComptabiliteGenerale" href="#" name="Editions">
                    <div class="dropdown-item-wrapper">Editions</div>
                </a>
            </li>
            <li>
                <a class="dropdown-item ComptabiliteGenerale" href="#" name="TravauxPeriodiques">
                    <div class="dropdown-item-wrapper">Travaux Périodiques</div>
                </a>
            </li>
            <li>
                <a class="dropdown-item ComptabiliteGenerale" href="#" name="Brouillard">
                    <div class="dropdown-item-wrapper">Brouillard</div>
                </a>
            </li>
            <li>
                <a class="dropdown-item ComptabiliteGenerale" href="#" name="Importation">
                    <div class="dropdown-item-wrapper">Importation</div>
                </a>
            </li>
        </ul>
    </li>


    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle lh-1" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false"><span class="uil fs-8 me-2 uil-files-landscapes-alt"></span>Comptabilité Analytique</a>
        <ul class="dropdown-menu navbar-dropdown-caret">
            <li>
                <a class="dropdown-item ComptabiliteAnalytique" href="#" name="Parametres">
                    <div class="dropdown-item-wrapper">Paramètres</div>
                </a>
            </li>
            <li>
                <a class="dropdown-item ComptabiliteAnalytique" href="#" name="Exploitations">
                    <div class="dropdown-item-wrapper">Exploitations</div>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle lh-1" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false"><span class="uil fs-8 me-2 uil-document-layout-right"></span>Suivi budgétaire</a>
            <ul class="dropdown-menu navbar-dropdown-caret">
                <li>
                    <a class="dropdown-item SuiviBudgetaire" name="Parametres" href="#">
                        <div class="dropdown-item-wrapper">Paramètres</div>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item SuiviBudgetaire" name="Saisie" href="#">
                        <div class="dropdown-item-wrapper">Saisie</div>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item SuiviBudgetaire" name="Exploitations" href="#">
                        <div class="dropdown-item-wrapper">Exploitations</div>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item SuiviBudgetaire" name="ExploitationsPrevision" href="#">
                        <div class="dropdown-item-wrapper">Exploitations Prévisionnnelles</div>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item SuiviBudgetaire" name="TravauxPeriodiques" href="#">
                        <div class="dropdown-item-wrapper">Travaux Périodiques</div>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item SuiviBudgetaire" name="Alertes" href="#">
                        <div class="dropdown-item-wrapper">Alertes</div>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item SuiviBudgetaire" name="Importation" href="#">
                        <div class="dropdown-item-wrapper">Importation</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle lh-1" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false"><span class="uil fs-8 me-2 uil-document-layout-right"></span>Suivi des conventions</a>
            <ul class="dropdown-menu navbar-dropdown-caret">
                <li>
                    <a class="dropdown-item SuiviConvention" name="ParametresIDA" href="#">
                        <div class="dropdown-item-wrapper">Paramètres IDA</div>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item SuiviConvention" name="SaisieIDA" href="#">
                        <div class="dropdown-item-wrapper">Saisie IDA</div>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item SuiviConvention" name="ExploitationsIDA" href="#">
                        <div class="dropdown-item-wrapper">Exploitations IDA</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle lh-1" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false"><span class="uil fs-8 me-2 uil-document-layout-right"></span>Immobilisations</a>
            <ul class="dropdown-menu navbar-dropdown-caret">
                <li>
                    <a class="dropdown-item Immobilisations" name="Parametres" href="#">
                        <div class="dropdown-item-wrapper">Paramètres</div>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item Immobilisations" name="Saisie" href="#">
                        <div class="dropdown-item-wrapper">Saisie</div>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item Immobilisations" name="Exploitations" href="#">
                        <div class="dropdown-item-wrapper">Exploitations</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle lh-1" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false"><span class="uil fs-8 me-2 uil-document-layout-right"></span>Etats Financiers</a>
            <ul class="dropdown-menu navbar-dropdown-caret">
                <li>
                    <a class="dropdown-item EtatsFinanciers" name="EtatStandard" href="#">
                        <div class="dropdown-item-wrapper">Etats Standards</div>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item EtatsFinanciers" name="EtatIFR" href="#">
                        <div class="dropdown-item-wrapper">Etat IFR</div>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item EtatsFinanciers" name="Ratios" href="#">
                        <div class="dropdown-item-wrapper">Ratios</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle lh-1" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false"><span class="uil fs-8 me-2 uil-document-layout-right"></span>Marchés Engagements</a>
            <ul class="dropdown-menu navbar-dropdown-caret">
                <li>
                    <a class="dropdown-item MarchesEngagements" name="Parametres" href="#">
                        <div class="dropdown-item-wrapper">Paramètres</div>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item MarchesEngagements" name="FicheMarche" href="#">
                        <div class="dropdown-item-wrapper">Fiches Marchés</div>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item MarchesEngagements" name="Exploitations" href="#">
                        <div class="dropdown-item-wrapper">Exploitations</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle lh-1" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false"><span class="uil fs-8 me-2 uil-document-layout-right"></span>Décaissements</a>
            <ul class="dropdown-menu navbar-dropdown-caret">
                <li>
                    <a class="dropdown-item Decaissements" name="Parametres" href="#">
                        <div class="dropdown-item-wrapper">Paramètres</div>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item Decaissements" name="Exploitations" href="#">
                        <div class="dropdown-item-wrapper">Exploitations</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle lh-1" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false"><span class="uil fs-8 me-2 uil-document-layout-right"></span>Utilitaires</a>
            <ul class="dropdown-menu navbar-dropdown-caret">
                <li>
                    <a class="dropdown-item Utilitaires" name="BaseDonnees" href="#">
                        <div class="dropdown-item-wrapper">Base de Données</div>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item Utilitaires" name="Interfaces" href="#">
                        <div class="dropdown-item-wrapper">Interfaces</div>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item Utilitaires" name="tracabilite" href="#">
                        <div class="dropdown-item-wrapper">Traçabilité</div>
                    </a>
                </li>
            </ul>
        </li>
</ul>