<nav class="navbar navbar-top fixed-top navbar-expand" id="navbarDefault" style="display:none;">
    <div class="collapse navbar-collapse justify-content-between">

        @Html.Partial("logo")
        @Html.Partial("Entete")
    </div>
</nav>
