<nav class="navbar navbar-top navbar-slim fixed-top navbar-expand" id="topNavSlim" style="display:none;">
    <div class="collapse navbar-collapse justify-content-between">
        @Html.Partial("logo_next")
        @Html.Partial("Entete")
    </div>
</nav>
