@{
    var action = ViewContext.RouteData.Values["action"].ToString();
}
<div class="row">
    <div class="col-md-12">
        <h4 id="nameTitre"></h4>
    </div>
</div>
@switch (action)
{
    case "Pays":
    case "unite":
    case "magasins":
    case "services":
    case "groupes":
    case "Exercices":
    case "Monnaie":
    case "Articles":
    case "Affectations":
        <div id="formParam">
        </div>
        <div id="fullscreen_popup" style="display:none;z-index:2001;overflow-y:hidden">
            <div class="forme" id="partieUnique">

            </div>
            <div class="forme" id="partieDelete">

            </div>
        </div>

        break;
    case "Structures":
        <div class="row" style="padding-top:15px">
            <div class="col-md-12">
                <div class="row justify-content-center" style="text-align:center">
                    <div class="col-md-6" style="background-color: #77B5FE;padding:4px">
                        <h5 style="color:#fff">STRUCTURE DES CODES</h5>
                    </div>
                </div><hr />
                <div class="row mb-2">
                    <div class="col-md-12">
                        <h5><u>Code</u></h5>
                    </div>
                </div>
                <div class="row justify-content-center" style="text-align:center">
                    <div class="col-md-12">
                        <div class="row mb-1" style="text-align:left">
                            <div class="col-md-3">
                                <label for="pays">Pays</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" name="pays" value="" id="pays" class="input_focus structCode" />
                            </div>
                            <div class="col-md-3">
                                <label for="monnaie">Monnaie</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" name="monnaie" value="" id="monnaie" class="input_focus structCode" />
                            </div>
                        </div>
                        <div class="row mb-1" style="text-align:left">
                            <div class="col-md-3">
                                <label for="magasin">Magasin</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" name="magasin" value="" id="magasin" class="input_focus structCode" />
                            </div>
                            <div class="col-md-3">
                                <label for="groupe">Groupe</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" name="groupe" value="" id="groupe" class="input_focus structCode" />
                            </div>
                        </div>
                        <div class="row mb-1" style="text-align:left">
                            <div class="col-md-3">
                                <label for="famille">Famille</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" name="famille" value="" id="famille" class="input_focus structCode" />
                            </div>
                            <div class="col-md-3">
                                <label for="service">Service</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" name="service" value="" id="service" class="input_focus structCode" />
                            </div>
                        </div>
                        <div class="row mb-1" style="text-align:left">
                            <div class="col-md-3">
                                <label for="consommateur">Consommateur</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" name="consommateur" value="" id="consommateur" class="input_focus structCode" />
                            </div>
                            <div class="col-md-3">
                                <label for="unite">Unité</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" name="unite" value="" id="unite" class="input_focus structCode" />
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row mb-2">
                    <div class="col-md-12">
                        <h5>Autres paramétres</h5>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-md-4">
                        <div class="row mb-1">
                            <div class="col-md-12">
                                <div class="float-start">
                                    <div class="form-check">
                                        <input class="form-check-input cursorPointer" id="groupeG" type="radio" name="paramAutre" checked="" value="groupeG">
                                        <label class="form-check-label cursorPointer" for="groupeG">Groupe (G)</label>
                                    </div>
                                </div>
                                <div class="float-end">
                                    <button class="btn btn-sm">==></button>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-md-12">
                                <div class="float-start">
                                    <div class="form-check">
                                        <input class="form-check-input cursorPointer" id="familleF" type="radio" name="paramAutre">
                                        <label class="form-check-label cursorPointer" for="familleF">Famille (F)</label>
                                    </div>
                                </div>
                                <div class="float-end">
                                    <button class="btn btn-sm"><==</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" name="groupeFamille" value="" id="groupeFamille" class="input_focus"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="serie">Série</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" name="serie" value="" id="serie" class="input_focus" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-check">
                                    <input class="form-check-input cursorPointer" id="checkAuto" type="checkbox" value="" />
                                    <label class="form-check-label cursorPointer" for="checkAuto">Automatique</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><hr />
                <div class="row mb-1">
                    <div class="col-md-12">
                        <div class="form-check">
                            <input class="form-check-input cursorPointer" id="dernierPrix" type="radio" value="dernierPrix" name="priceStruct" checked="">
                            <label class="form-check-label cursorPointer" for="dernierPrix">Dernier prix d'achat</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input cursorPointer" id="PrixMoyen" type="radio" value="PrixMoyen" name="priceStruct">
                            <label class="form-check-label cursorPointer" for="PrixMoyen">Prix moyen pondéré</label>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center" style="text-align:center">
                    <div class="col-md-12">
                        <button class="btn btn-sm btn-success" onclick="Enregistrer()" id="Enregistrer">Enregistrer</button>
                    </div>
                </div>
            </div>
        </div>
        break;
}
<script src="~/js/parametrage/parametre.js"></script>