@{
    var action = ViewContext.RouteData.Values["action"].ToString();
}
@switch (action)
{
    case "Pays":
    case "unite":
    case "magasins":
    case "services":
    case "groupes":
    case "Exercices":
        <div class="row">
            <div class="col-md-12">
                <h4 id="nameTitre"></h4>
            </div>
        </div>
        <div id="formParam">

        </div>
        <div id="fullscreen_popup" style="display:none;z-index:3000">
            <div class="forme" id="partieUnique">

            </div>
            <div class="forme" id="partieDelete">

            </div>
        </div>

        <script src="~/js/parametrage/parametre.js"></script>
        break;
}