<div class="row">
    <div class="col-md-12">
        <h4 id="nameTitre"></h4>
    </div>
</div>
<div id="formParam">

</div>
<div id="fullscreen_popup" style="display:none;">
    <div class="forme" id="partieUnique">

    </div>
</div>
<script src="~/js/STOCK/parametre/parametre.js"></script>