<style>
    #tabCategorieFirst tbody tr:hover td {
        background-color: transparent !important;
        cursor: default;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <h3 class="mb-2" id="nameTitre"></h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-underline fs-9" id="myTab" role="tablist">
            <li class="nav-item" role="presentation"><a class="nav-link active" id="EntiteBudgetTech-tab" data-bs-toggle="tab" href="#tab-EntiteBudgetTech" role="tab" aria-controls="tab-EntiteBudgetTech" aria-selected="true">Entités Budgétaires & techniques</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" id="PlanExterne-tab" data-bs-toggle="tab" href="#tab-PlanExterne" role="tab" aria-controls="tab-PlanExterne" aria-selected="false" tabindex="-1">Plans externes</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" id="EntiteComptable-tab" data-bs-toggle="tab" href="#tab-EntiteComptable" role="tab" aria-controls="tab-EntiteComptable" aria-selected="false" tabindex="-1">Entité comptable</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" id="EntiteFinancier-tab" data-bs-toggle="tab" href="#tab-EntiteFinancier" role="tab" aria-controls="tab-EntiteFinancier" aria-selected="false" tabindex="-1">Entité financière</a></li>
        </ul>
        <div class="tab-content mt-3" id="myTabContent">
            <div class="tab-pane fade active show" id="tab-EntiteBudgetTech" role="tabpanel" aria-labelledby="EntiteBudgetTech-tab">
                <div class="row" style="padding-bottom:10px">
                    <div class="col-md-12">
                        <button class="btn btn-secondary me-1 mb-1 PlCompte" type="button" id="StructPlanBudget"></button>
                        <button class="btn btn-secondary me-1 mb-1 PlCompte" type="button" id="StructActivite"></button>
                        <button class="btn btn-secondary me-1 mb-1 PlCompte" type="button" id="StructZone"></button>
                        <button class="btn btn-secondary me-1 mb-1 PlCompte" type="button" id="StructEmplacements"></button>
                        <button class="btn btn-secondary me-1 mb-1 PlCompte" type="button" id="StructPlan6"></button>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab-PlanExterne" role="tabpanel" aria-labelledby="PlanExterne-tab">
                <div class="row" style="padding-bottom:10px">
                    <div class="col-md-12">
                        <button class="btn btn-secondary me-1 mb-1 PlCompte" type="button" id="StructPlanExtP1"></button>
                        <button class="btn btn-secondary me-1 mb-1 PlCompte" type="button" id="StructPlanExtP2"></button>
                        <button class="btn btn-secondary me-1 mb-1 PlCompte" type="button" id="StructPlanExtP3"></button>
                        <button class="btn btn-secondary me-1 mb-1 PlCompte" type="button" id="StructPlanExtP4"></button>
                        <button class="btn btn-secondary me-1 mb-1 PlCompte" type="button" id="StructCorrespondPlan">Correspondance des Plans</button>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab-EntiteComptable" role="tabpanel" aria-labelledby="EntiteComptable-tab">
                <div class="row" style="padding-bottom:10px">
                    <div class="col-md-12">
                        <button class="btn btn-secondary me-1 mb-1 PlCompte" type="button" id="StructPlanCompt"></button>
                        <button class="btn btn-secondary me-1 mb-1 PlCompte" type="button" id="StructPlanTier">Plan des tiers</button>
                        <button class="btn btn-secondary me-1 mb-1 PlCompte" type="button" id="StructPlanJournaux">Plan des journaux</button>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab-EntiteFinancier" role="tabpanel" aria-labelledby="EntiteFinancier-tab">
                <div class="row" style="padding-bottom:10px">
                    <div class="col-md-12">
                        <button class="btn btn-secondary me-1 mb-1 PlCompte" type="button" id="StructBailleurFond">Bailleur de fonds</button>
                        <button class="btn btn-secondary me-1 mb-1 PlCompte" type="button" id="StructConventions">Conventions</button>
                        <button class="btn btn-secondary me-1 mb-1 PlCompte" type="button" id="StructCategorieFinance">Catégories financières</button>
                        <button class="btn btn-secondary me-1 mb-1 PlCompte" type="button" id="StructVentilation">Ventilation</button>
                        <button class="btn btn-secondary me-1 mb-1 PlCompte" type="button" id="StructSignataires">Signataires</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="fullscreen_popup" style="display:none;">
    <div class="forme" id="partieStructurePlan">

    </div>
    <div class="forme" id="partieDelete">

    </div>
</div>
<script src="~/js/FINPRONET/Codifications/PlanCompte.js"></script>



<style>
    .list-buttons {
        margin-top: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .list-buttons button {
      width: 40px;
      border:none;
    }
</style>










