<div class="row">
    <div class="col-md-12">
        <h3 class="mb-2" id="nameTitre"></h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-underline fs-9" id="myTab" role="tablist">
            <li class="nav-item" role="presentation"><a class="nav-link active" id="StructurePlan-tab" data-bs-toggle="tab" href="#tab-StructurePlan" role="tab" aria-controls="tab-StructurePlan" aria-selected="true">Structures des Plans</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" id="StructurePlanExterne-tab" data-bs-toggle="tab" href="#tab-StructurePlanExterne" role="tab" aria-controls="tab-StructurePlanExterne" aria-selected="false" tabindex="-1">Structure des plans externes</a></li>
        </ul>
        <div class="tab-content mt-3" id="myTabContent">
            <div class="tab-pane fade active show" id="tab-StructurePlan" role="tabpanel" aria-labelledby="StructurePlan-tab">
                <div class="row" style="padding-bottom:10px">
                    <div class="col-md-12">
                        <button class="btn btn-secondary me-1 mb-1" type="button" id="StructPlanBudget"></button>
                        <button class="btn btn-secondary me-1 mb-1" type="button" id="StructPlanCompt"></button>
                        <button class="btn btn-secondary me-1 mb-1" type="button" id="StructActivite"></button>
                        <button class="btn btn-secondary me-1 mb-1" type="button" id="StructZone"></button>
                        <button class="btn btn-secondary me-1 mb-1" type="button" id="StructEmplacements"></button>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab-StructurePlanExterne" role="tabpanel" aria-labelledby="StructurePlanExterne-tab">
                <div class="row" style="padding-bottom:10px">
                    <div class="col-md-12">
                        <button class="btn btn-secondary me-1 mb-1" type="button" id="StructPlanExtP1"></button>
                        <button class="btn btn-secondary me-1 mb-1" type="button" id="StructPlanExtP2"></button>
                        <button class="btn btn-secondary me-1 mb-1" type="button" id="StructPlanExtP3"></button>
                        <button class="btn btn-secondary me-1 mb-1" type="button" id="StructPlanExtP4"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="text" name="totalForm" value="" id="totalForm" class="form-control" style="background-color:#000000;color:#fff"/>
<div id="fullscreen_popup" style="display:none;">
    <div class="forme" id="partieStructurePlan">
        
    </div>
</div>
<script src="~/js/FINPRONET/Codifications/structures.js"></script>
